body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    background-color: #121212;
    margin: 0;
    padding: 0;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}



.controls {
    margin-bottom: 20px;
}

    button {
        border: none;
        outline: none;
        background-color: #6c5ce7;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        border-radius: 5px;
        transition: all ease 0.1s;
        box-shadow: 0px 5px 0px 0px #a29bfe;
        font-family: "Handjet", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
          "ELGR" 1,
          "ELSH" 2;
          
      }
      
      button:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #a29bfe;
      }
   


button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-shadow: 0px 5px 0px 0px #777777;
   
}

#output {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    min-height: 100px;
    text-align: right;
    color: #fff;
    font-family: "Handjet", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        font-variation-settings:
          "ELGR" 1,
          "ELSH" 2;
          
}

.wave-animation-paused .wave {
    animation-play-state: paused;
}